html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing:border-box;
}
*{
	text-decoration:none;}
 */
 .main-div{
	 width:1366px;
	 margin: 0% auto;
 }
.logo{
	width:100px;
	height:60px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-li{
	display:inline-block;
}
.icon{
	height:14px;
}
.img{
	align-items:center;
	margin-left:15%;
	margin-bottom:2%;
	margin-top:2%;
}
.mini-box{
	background-color:#E6E6E6;
}
.p1{
	position:sticky;
}
.saba{
	position:absolute;
	margin-top:-10%;
	margin-left:18%;
	font-size:25px;
}
.nasha{
	width:5%;
	padding-bottom:3%;
	margin-left:-6%;
}
.box{
    background-color:#363E97;
     width:100%;
     height:500px;
}
.mini-box1{
	background-color:#fff;
	width:500px;
	height:300px;
	float:left;
	margin-top:7%;
	margin-left:15%;
}
.mini-box2{ 
	float:right;
	background-color:#fff;
	width:500px;
	height:300px;
	margin-top:7%;
	margin-right:9%;
}
.img{
	height: 20%;
	width: 70%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.poto1234{
	width:20%;
	margin-top:5%;
	margin-left: 4%;
}
.poto123{
	
	background-color: aquamarine;
	height: 450px;
	
}
.text1w{
background-color: azure;
width: 10%;;
}
.text{
	display: flex;
	justify-content: space-around;
	
}
.lat{
	float: left;
	font-size: 10px;
}
.last{
	float:right;
	font-size: 10px;;
}
.bar{
	display: none;
}
@media only screen and (max-width:1366px) {
	.main-div {
		width:1024px;
	}
	.mini-box2{
		float: right;
		background-color: #fff;
		width: 350px;
		height: 209px;
		margin-top: 7%;
		margin-right: 7%;
	}
	.mini-box1{
			background-color: #fff;
			width: 350px;
			height: 209px;
			float: left;
			margin-top: 7%;
			margin-left: 15%;
	}
	.saba {
		position: absolute;
		margin-top: -16%;
		margin-left: 22%;
		font-size: 18px;
	}
	.poto123{
		background-color: aquamarine;
		height: 275px;
	}
	.box{
		height: 400px;
	}
	}

	@media  (max-width:1024px) {
		.main-div{
			width:768px;
		}
		.poto123{
			flex-wrap: wrap;
		}
		.saba {
			position: absolute;
			margin-top: -16%;
			margin-left: 19%;
			font-size: 13px;
		}
		.mini-box2 {
			float: right;
			background-color: #fff;
			width: 350px;
			height: 209px;
			margin-top: 16%;
			margin-right: 3%;
		}
		.mini-box1 {
			background-color: #fff;
			width: 350px;
			height: 209px;
			float: left;
			margin-top: 16%;
			margin-left: 5%;
		}
		.text1w{
			background-color: azure;
			width: 15%;
		}
		.poto123{
			height:200px;
		}
	}
	@media  (max-width:767px) {
		.main-div{
			width:480px;

	}
	.mini-box2 {
		float: right;
		background-color: #fff;
		width: 200px;
		height: 150px;
		margin-top: 23%;
		margin-right: 3%;
	}
	.mini-box1 {
		background-color: #fff;
		width: 200px;
		height: 150px;
		float: left;
		margin-top: 23%;
		margin-left: 5%;
	}
	.text1w {
		background-color: azure;
		width: 15%;
		font-size: 9px;
	}
	.saba {
		position: absolute;
		margin-top: -13%;
		margin-left: 18%;
		font-size: 6px;
	}
	.bar{
		display: flex;
		justify-content: space-between;
		float: right;
		margin-right: -70%;
		display: block;
	}
	.icon{
		display: none;
	}
	.nav-a{
		font-size: 10px;;
	}
	}
	@media (max-width:481px){
		.main-div{
			width: 375px;
		}
		.nav-ul{
			display: none;
		}
		.poto123{
			flex-wrap:wrap-reverse;
		}
		.mini-box2 {
			float: right;
			background-color: #fff;
			width: 200px;
			height: 150px;
			margin-top: 13%;
			margin-right: 24%;
		}
			.mini-box1 {
				background-color: #fff;
				width: 200px;
				height: 150px;
				float: left;
				margin-top: 6%;
				margin-left: 24%;
			}
			.text1w{
				margin-bottom: -32%;
				display: none;
			}
			.poto1234 {
				width: 27%;
				margin-top: 3%;
                margin-left: 14%;
			}
	}
	@media (max-width:374px) {
		.main-div{
			width: 360px;
		}
		.mini-box2 {
			float: right;
			background-color: #fff;
			width: 200px;
			height: 150px;
			margin-top: 13%;
			margin-right: 25%;
		}
		.poto1234 {
			width: 27%;
			margin-top: 4%;
			margin-left: 14%;
		}
		.mini-box1 {
			background-color: #fff;
			width: 200px;
			height: 150px;
			float: left;
			margin-top: 6%;
			margin-left: 19%;
		}
		
	}
	@media (max-width:359px) {
		.main-div{
			width:320px;
		}
		.mini-box2 {
			float: right;
			background-color: #fff;
			width: 200px;
			height: 150px;
			margin-top: 13%;
			margin-right: 18%;
		}
		.poto1234 {
			width: 27%;
			margin-top: 7%;
			margin-left: 15%;
		}
		
	}